
.menu-header {
  letter-spacing: 4px;
  margin-left: auto;
  margin-right: auto;
}

.tasks-list-one, .tasks-list-two, .tasks-list-three, .create-task-card {
  margin: 20px 25px 20px 25px; //<top> <right> <bottom> <left>
}

.mat-form-field {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.mat-form-field-margin {
  margin-left: 23px;
}

.mat-form-field-half {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 49%;
}

.mat-list-header {
  text-decoration: underline;
}

.icon-span {
  position: relative;
  margin-left: auto;
  margin-right: 10px;
}

mat-list-item {

  margin-bottom: 10px;
  border-bottom: 0.5px solid #b1b0b0;
  margin: -5px;
}

mat-list-item.mat-list-item{
  word-break: break-all;
  height: auto;
  padding: 10px;
}
.responsive {
  height: min-content;
}

.navigate-button {
  width: 100%;
}

.mat-checkbox {
  margin-left: auto;
}

