<div class="body">
  <mat-toolbar class="mat-toolbar">
    <button mat-icon-button class="menu-icon" matTooltip="Menu" aria-label="Icon Button for the menu">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="menu-header">TODO APP</span>
  </mat-toolbar>

  <div class="create-task-card">
    <mat-card>
      <mat-card-title class="tasks-list-header">Create Tasks</mat-card-title>
      <mat-card-subtitle class="tasks-list-subheader">Create and organize your tasks</mat-card-subtitle>
      <mat-card-content>
        <mat-form-field appearance="legacy" class="mat-form-field">
          <mat-label>Task</mat-label>
          <input matInput type="text" id="taskname" [(ngModel)]="task.taskname">
        </mat-form-field>
        <br>
        <mat-form-field appearance="legacy">
          <mat-label>Notes</mat-label>
          <textarea type="text" id="notes" [(ngModel)]="task.notes" matInput></textarea>
        </mat-form-field>
        <mat-form-field class="mat-form-field-half" appearance="legacy">
          <mat-label>Start Date</mat-label>
          <input matInput id="startDate" [matDatepicker]="pickerStart" [(ngModel)]="task.startDate">
          <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
          <mat-datepicker #pickerStart></mat-datepicker>
        </mat-form-field>
        <span class="mat-form-field-margin"></span>
        <mat-form-field class="mat-form-field-half" appearance="legacy">
          <mat-label>Due Date</mat-label>
          <input id="dueDate" matInput [matDatepicker]="pickerDue" [(ngModel)]="task.dueDate">
          <mat-datepicker-toggle matSuffix [for]="pickerDue"></mat-datepicker-toggle>
          <mat-datepicker #pickerDue></mat-datepicker>
        </mat-form-field>
        <mat-chip-list class="mat-chip-list">
          <mat-chip class="mat-chip-item"
                    *ngFor="let cardType of cardTypes" [style.background-color]="toggle ? 'green' : 'red'"
                    (click)="getTaskType(cardType); enableDisableRule()"

          >
            {{cardType}}
          </mat-chip>
        </mat-chip-list>
      </mat-card-content>
      <mat-card-actions class="mat-card-actions" align="end">
        <button mat-stroked-button type="reset" (click)="reset()">Reset</button>
        <button mat-stroked-button type="submit" (click)="createTask(task)">Create</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="tasks-list-one">
    <mat-card>
      <mat-card-title class="tasks-list-header">Current Tasks</mat-card-title>
      <mat-card-subtitle class="tasks-list-subheader">Organize your tasks</mat-card-subtitle>
      <mat-card-content>
        <mat-list>
          <mat-list-item class="mat-list-item" *ngFor="let task of taskListCurrent">
            {{task.taskname}}
            <br>
            {{task.notes}}
            <br>
            Beginn: {{task.startDate | date: 'dd/MM/yyyy' }} ||
            Ende: {{task.dueDate | date: 'dd/MM/yyyy'}}
            <mat-checkbox (change)="resortTaskToFinished(task)" matTooltip="Set Task To Finished"></mat-checkbox>
            <button mat-icon-button aria-label="Icon Button to delete task" matTooltip="Delete Task"
                    (click)="deleteTask(task, 'current')">
              <mat-icon>delete_outline</mat-icon>
            </button>
            <br>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="tasks-list-two">
    <mat-card>
      <mat-card-title class="tasks-list-header">Finished Tasks</mat-card-title>
      <mat-card-subtitle class="tasks-list-subheader">Organize your tasks</mat-card-subtitle>
      <mat-card-content>
        <mat-list>
          <mat-list-item *ngFor="let task of taskListFinished">
            {{task.taskname}}
            {{task.notes}}
            {{task.startDate}}
            {{task.dueDate}}
            <mat-checkbox [checked]="true" (change)="resortTaskToCurrent(task)"></mat-checkbox>
            <mat-divider></mat-divider>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="tasks-list-three">
    <mat-card>
      <mat-card-title class="tasks-list-header">Unsorted Tasks</mat-card-title>
      <mat-card-subtitle class="tasks-list-subheader">Organize your tasks</mat-card-subtitle>
      <mat-card-content>
        <mat-list>
          <mat-list-item *ngFor="let task of taskListUnsorted">
            {{task.taskname}}
            {{task.notes}}
            Start: {{task.startDate | date: 'dd/MM/yyyy' }}
            Ende: {{task.dueDate | date: 'dd/MM/yyyy'}}
            <mat-checkbox (change)="resortTaskToFinished(task)"></mat-checkbox>
            <mat-checkbox [checked]="true" (change)="resortTaskToCurrent(task)"></mat-checkbox>
            <button mat-icon-button aria-label="Icon Button to delete task"
                    (click)="deleteTask(task, 'unsorted')">
              <mat-icon>delete_outline</mat-icon>
            </button>
            <mat-divider></mat-divider>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
  <footer class="footer">
    <div class="responsive">
      <div class="info">
        <mat-list class="mat-list-header">Contact</mat-list>
        <mat-list-item>Imprint</mat-list-item>
        <mat-list-item>Imprint</mat-list-item>
        <mat-list-item>Imprint</mat-list-item>
      </div>
      <div class="info">
        <mat-list class="mat-list-header">Contact</mat-list>
        <mat-list-item>Imprint</mat-list-item>
        <mat-list-item>Imprint</mat-list-item>
        <mat-list-item>Imprint</mat-list-item>
      </div>
      <div class="info">
        <mat-list class="mat-list-header">Contact</mat-list>
        <mat-list-item>Imprint</mat-list-item>
        <mat-list-item>Imprint</mat-list-item>
        <mat-list-item>Imprint</mat-list-item>
      </div>
    </div>
  </footer>
</div>
