<div class="body">
  <div class="header">TODO ANALYTICS</div>
  <div class="analytics">
    <h2 class="font-weight">Tasks per Day</h2>
    <div class="canvas">
      <canvas
        baseChart
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [legend]="lineChartLegend"
        [chartType]="lineChartType"
        [colors]="lineChartColors">
      </canvas>
    </div>
    <h2 class="font-weight">Tasks per Month</h2>
    <div class="canvas">
      <canvas
        baseChart *ngIf="barChartData"
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [legend]="barChartLegend"
        [chartType]="barChartType"
        [colors]="barChartColors">
      </canvas>
    </div>
    <span class="chart-span"></span>
    <h2 class="font-weight">Divison of Types of Tasks</h2>
    <div class="canvas">
      <canvas
        baseChart *ngIf="pieChartData"
        [data]="pieChartData"
        [labels]="pieChartLabels"
        [chartType]="pieChartType"
        [colors]="pieChartColors">
      </canvas>
    </div>
    <div class="button">
      <button mat-flat-button (click)="goToTodo()">MANAGE TASKS</button>
    </div>
  </div>
</div>
