/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
html, body { height: 100%; width: 100%;}
body { margin: 0; font-weight: lighter; font-family: Roboto, "Helvetica Neue", sans-serif; }

.tasks-list-subheader {
  font-style: italic;
}


h2 {
  font-weight: lighter;
  text-align: center;
}

.mat-toolbar {
  background-color: #424242;
}
.mat-list-item-content::before{
  content: "";
  clear: both;
}

.mat-footer{
  border-bottom: 0 !important;
  margin: 1px !important;
}
.body{
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.footer-sticky{
  background-color: #424242;
  height: auto;
  display: flex;
  padding: 2px;
}

.mat-header{
  color: white;
  display: block;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
